/* * {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    }

#page-wrap {    showing white background 
    width: 600px;
    background: white;
    padding: 20px 50px 20px 50px;
    margin: 20px auto;
    min-height: 500px;
    height: auto !important;
    height: 500px;
}

form, br {
    clear: left;
    margin: 0;
    padding: 0;
}

input.form_element {
    width: 221px;
    background: transparent url('bg.jpg') no-repeat;
    color : #747862;
    height:20px;
    border:0;
    padding:4px 8px;
    margin-bottom:0px;
}

.checkun{
    width: 150px;
    background: transparent url('bg.jpg') no-repeat;
    color : #747862;
    height:20px;
    border:1px solid blue;
    padding:4px 10px;
    margin-bottom:0px;
    position: right;
}

label, input {
    width: 160px;
    float: left;
    font: 11px bold Tahoma, Arial, sans-serif;
    margin: 1px;
    padding: 2px;
}

label {
    font: 14px bold Tahoma, Arial, sans-serif;
    background: #eeeeee;
}

input {
    width: 200px;
    padding: 2px;
    border: 1px solid #aaa;
} */